@use '../base/mixins';
@use '../base/colors' as *;
@use '../base/svg-icons' as icons;

// HubSpot Form -----------
.hs-form .hs-form-field {
  position: relative;
  margin: 0 0 20px;
  flex: 1;
}

.hs-form fieldset {
  display: flex;
  gap: 20px;
  width: 100%;
}

.hs-form .input {
  margin: 0 !important;
}

.hs-form .hs-input,
.hs-form input[type='text'],
.hs-form input[type='email'],
.hs-form input[type='tel'],
.hs-form select,
.hs-form textarea {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  padding: 12px 10px;
  margin: 0;
  border: 1px solid $field-outline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  line-height: 1.2em;
  font-size: 10.75pt;
  font-weight: 400;
  color: $field-text-value;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100% !important;
}

.hs-form .hs-fieldtype-select .input select {
  background-image: icons.get-icon('dropdown');
  background-repeat: no-repeat;
  background-position: right 10px center;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 32px;
  width: 100%;
}

.hs-form textarea {
  clear: both;
}

.hs-form .hs-form-field label {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 1;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: $field-text-label;
  transition: top 0.3s;
  pointer-events: none;
}

.hs-form .hs-form-required {
  font-weight: 700;
  color: $lil-red;
  position: relative;
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.hs-form .hs-form-field:has(input.error) {
  margin: 0 0 50px;
}

.hs-form .hs-recaptcha {
  height: 60px;
  margin-top: 20px;
}

input.hs-input.invalid.error {
  border: solid 1px $lil-red;
}

.hs-form .hs-error-msgs {
  list-style: none;
  position: relative;

  label.hs-error-msg,
  label.hs-main-font-element {
    position: absolute;
    top: 0;
    left: 1px;
    font-size: 8pt;
    color: $lil-red;
    padding: 0 10px 0 0;
  }
}

.hs-form .hs-form-field:has(div.npt) {
  label:not(label.hs-error-msg) {
    top: 5px;
    font-size: 8pt;
    color: $field-text-label;
  }

  input[type='text'],
  input[type='email'],
  input[type='tel'],
  select,
  textarea {
    top: 0px;
    color: $field-text-value;
    padding: 20px 10px 4px;
  }

  select {
    padding-right: 35px;
  }
}

.hs-form hr {
  clear: both;
  margin: 0 0 20px;
}

.hs-form div:has(.hs-richtext) {
  width: 100%;
}

.hs-form .hs-richtext a,
.hs-form .hs-richtext p {
  color: $charcoal;
  text-decoration: none !important;
  font-size: 0.6669rem;
  font-weight: 400;
}

.hs-form .hs-richtext a:hover {
  text-decoration: underline !important;
}

@include mixins.respond-to(xsmall) {
}

@include mixins.respond-to(small) {
  .form__horizontal {
    .hubspot__form {
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 30px;
        row-gap: 0;
        width: 688px;
        .hs-form-field {
          input[type='text'],
          input[type='email'],
          input[type='tel'],
          select,
          textarea {
            width: 200px;
          }
        }
      }
    }
  }
}

@include mixins.respond-to(med) {
  .grid__row.form__horizontal {
    .hubspot__form {
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 30px;
        row-gap: 0;
        width: 934px;
        .hs-form-field {
          input[type='text'],
          input[type='email'],
          input[type='tel'],
          select,
          textarea {
            width: 211px;
          }
        }

        .hs-recaptcha {
          order: 1;
        }

        .hs-submit {
          flex-grow: 1;
        }
      }
    }
  }
}
@include mixins.respond-to(large) {
  .form__horizontal {
    .hubspot__form {
      form {
        width: 100%;
        flex-wrap: nowrap;
        .hs-form-field {
          input[type='text'],
          input[type='email'],
          input[type='tel'],
          select,
          textarea {
            width: 211px;
          }
        }
      }
    }
  }
}
