@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Regular.woff2')
    format('woff2');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Medium.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FA Brandface';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/faf/figtree/Figtree-Black.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/glyphicons-halflings-regular.eot');
  src: url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/glyphicons-halflings-regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/glyphicons-halflings-regular.woff')
      format('woff'),
    url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/glyphicons-halflings-regular.ttf')
      format('truetype'),
    url('https://d1cwt5lzdzs9f6.cloudfront.net/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
      format('svg');
  font-weight: 400;
  font-style: normal;
}
