@use 'sass:math';

// Text alignment helpers
.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.bold {
  font-weight: 700;
}

$size: 0;

@while $size <= 120 {
  .padding--#{$size} {
    padding: #{$size}px;
  }
  .padding--top-#{$size} {
    padding-top: #{$size}px;
  }
  .padding--bottom-#{$size} {
    padding-bottom: #{$size}px;
  }
  .padding--left-#{$size} {
    padding-left: #{$size}px;
  }
  .padding--right-#{$size} {
    padding-right: #{$size}px;
  }
  .padding--vertical-#{$size} {
    padding: #{$size}px 0;
  }
  .padding--horizontal-#{$size} {
    padding: 0 #{$size}px;
  }

  .margin--#{$size} {
    margin: #{$size}px;
  }
  .margin--top-#{$size} {
    margin-top: #{$size}px;
  }
  .margin--bottom-#{$size} {
    margin-bottom: #{$size}px;
  }
  .margin--left-#{$size} {
    margin-left: #{$size}px;
  }
  .margin--right-#{$size} {
    margin-right: #{$size}px;
  }
  .margin--vertical-#{$size} {
    margin: #{$size}px 0;
  }
  .margin--horizontal-#{$size} {
    margin: 0 #{$size}px;
  }

  // Increment the counter
  $size: $size + 5;
}
